# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = kratt.settings

[deploy:kratt]
url = http://localhost:7200/
project = kratt